@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 3rem;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  background: url("./assets/bg-main-mobile.png") no-repeat center / cover;
}

header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
  position: relative;
  overflow: hidden;
}

.header-pattern {
  display: none;
  width: 260px;
  height: 250px;
}

.header-pattern img {
  object-fit: cover;
}

main {
  height: 600px;
  border-radius: 0.5rem;
  position: relative;
  background: #191826 url("./assets/bg-pattern-2.svg") no-repeat top center;
}

.phone {
  width: 200px;
  height: 430px;
  position: absolute;
  bottom: 40%;
  left: 25%;
}

.equalizer-info {
  font-size: 1rem;
  color: #fff;
  background-color: #fa7453;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 70%;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pricing span {
  font-size: 3rem;
  font-weight: 700;
}

.btn {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.btn-ios {
  background-color: #191826;
  color: inherit;
}
.btn-ios:hover,
.btn-ios:focus {
  background-color: #66e2dc;
}

.btn-android:hover,
.btn-android:focus {
  background-color: #ffb964;
}

footer {
  margin-top: 15rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-logo-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

/* Define the default color for the social icons */
.social-links svg {
  fill: #191826; /* Change this to your desired default color */
  transition: fill 0.3s ease; /* Add a smooth transition effect */
}

/* Change the color of the social icons on hover */
.social-links a:hover svg {
  fill: #ff0000; /* Change this to your desired hover color */
}

@media (min-width: 850px) {
  header {
    font-size: 1.5rem;
    margin-bottom: 10rem;
  }

  h1 {
    font-size: 3.5rem;
  }
  .header-pattern {
    display: block;
    position: absolute;
    right: -120px;
    top: -25px;
  }

  .header-info {
    width: 80%;
  }

  .equalizer-info {
    width: 400px;
    top: 25%;
    left: 36%;
  }

  main {
    height: 500px;
  }

  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  footer {
    margin-top: 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
}

@media (min-width: 1100px) {
  header {
    padding-left: 0;
  }

  h1 {
    font-size: 4.5rem;
  }

  .header-pattern {
    width: 300px;
    height: 320px;
    right: 0;
    top: -35px;
  }
  .container {
    max-width: 1560px;
  }

  .phone {
    left: 40%;
  }

  main {
    background-position: top center;
  }

  .equalizer-info {
    width: 400px;
    top: 25%;
    left: 54%;
  }
}
